

[package]
name = "rabbitmq-fuse"
version = "0.1.0"
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
polyfuse = "0.4"


anyhow = "1"
futures = "0.3"
libc = "0.2"
pico-args = "0.3"
tokio = { version = "1", features = [ "macros", "net", "rt-multi-thread" , "sync" ] }
tokio-amqp="1"
tracing = "0.1"
tracing-subscriber = "0.3"
lapin = "1.8"
native-tls = "0.2"
pinky-swear = "6"
dashmap = "5.2"
clap = {version = "3", features = ["derive"]}
rpassword = "6.0"